h1{
    font-family: "Comic Sans MS";
    background-color: antiquewhite;
    text-decoration-color: goldenrod;
    text-align: center;
}
p{
    color: blueviolet;
    text-align: justify;
}
input{
    color: Brown;
    align-self: center;
}