* {
    border: 1px solid white;
    margin:0;
    padding:0;
}
ul>li>a{
    text-decoration:  none;
    color:green;
}
ul>li {
    display: inline;
}
ul{
    align-content: center;
    background-color: lightgoldenrodyellow;
    text-align: center;
    padding: 30px;
}